html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: #fff;
}

section,
div {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
}

#container section {
  width: 33%;
  border: 1px solid #fff;
}

#right,
#center,
#left {
  position: relative;
  font-family: sans-serif;
  overflow-y: scroll;
}

#center {
  width: 34% !important;
  padding: 2%;
  overflow-y: scroll;
}

#container #right input:not([type="button"], [type="checkbox"], [type="radio"]),
#container #right textarea,
#container #right #ibutton,
#container #right select {
  width: 180px;
  box-sizing: border-box;
}

#elements_table {
  width: 80%;
  margin: 0 auto;
}

#addElementTable tr td {
  color: #000;
}

#addElementBG {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #000;
  display: none;
  z-index: 1000;
}

.panelTitle {
  height: 50px;
  background: teal;
  font-size: 20pt;
  font-weight: bold;
  padding: 10px;
  text-transform: capitalize;
}

#addElementTable {
  position: absolute;
  left: 50%;
  top: 50%;
  max-height: 90%;
  overflow-y: scroll;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px #000;
  z-index: 2000;
}

#addElementTable tbody tr td:nth-child(odd) {
  text-align: right;
}

#addElementTable tbody tr td:last-of-type {
  text-align: center;
}

#addElementTable tbody tr,
#addElementTable tbody tr td {
  padding: 5px;
}

#addElementTable input,
#addElementTable select,
#addElementTable textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
}
